/*-------------------------- All ---------------------------*/


/*---------------------- Login screen ----------------------*/


#page_login div[data-role=content] h1 {
    text-align: center;
    margin-top: 5px;
}

#page_login div[data-role=content] p {
    text-align: center;
    margin-bottom: 10px;
}

#btnSignup, #btnForgotPassword{
    margin-top: 3px;
    float: right;
}

/*-------------------- Libraries screen --------------------*/
.hsvLibraries {
    margin: 1px;
    width: 100%;
    background-color: #999999;
    padding-right: 10px;
    overflow-x: auto;

    white-space: nowrap;

}

.customLibraryView {
    width: 100px;
    height: 100px;
    background-color: #00415e;

    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;

    display: inline-block;
    white-space: normal;
}

.customLibraryView span{
    width: 100%;
    background-color: #2489ce;
    font-weight: normal !important;
    color: #ffffff;
    text-align: center;
    display: block;
    font-size: 8pt;
    text-shadow: none;
}

.customLibraryViewRight{
    margin-right: 10px;
}

#librariesContent p{
    font-weight: bold;
}

/*------------------- Add library screen -------------------*/
#btnAddLibraryDeleteUser, #btnAddLibraryAddUser{
    float: right;
}

#lblAddLibraryUsers{
    /*Scrollview*/
}

#scrollview-content{
    width: 100% !important;
}